<ngx-loading [show]="loading"></ngx-loading>

<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">
         <div>

            <h1 *ngIf="loading === true">{{('commons.loading') | translate}}</h1>
            <h1 *ngIf="loading === false">{{(form.get('key')?.value?.length > 0 ? 'banco.editar' : 'banco.adicionar') |
               translate}}</h1>
         </div>

         <form #f="ngForm" novalidate (submit)="save()" autocomplete="off" [formGroup]="form">

            <div class="ui-g">
               <input pInputText
                      type="text"
                      [hidden]="true"
                      name="key"
                      formControlName="key">

               <div class="ui-g-3 ui-fluid">
                  <label for="codigo">{{'banco.campos.codigo' | translate}}</label>
                  <input pInputText
                         id="codigo"
                         type="text"
                         formControlName="codigo">
                  <app-message [form]="f" [control]="form.get('codigo')"></app-message>
               </div>
               <div class="ui-g-9"></div>


               <div class="ui-sm-12 ui-g-6 ui-fluid">
                  <label for="nome" class="required">{{'banco.campos.nome' | translate}}</label>
                  <input pInputText
                         id="nome"
                         type="text"
                         formControlName="nome">
                  <app-message [form]="f" [control]="form.get('nome')"></app-message>
               </div>

               <div class="ui-sm-12 ui-g-6 ui-fluid">
                  <label for="url">{{'banco.campos.url' | translate}}</label>
                  <input pInputText
                         id="url"
                         type="text"
                         formControlName="url">
                  <app-message [form]="f" [control]="form.get('url')"></app-message>
               </div>

               <div class="ui-sm-12 ui-g-6 ui-fluid">
                  <p-checkbox id="chkInativo" [formControl]="form.controls['inativo']"
                              binary="true"
                              label="{{'banco.campos.inativo' | translate}}"></p-checkbox>
               </div>

               <div class="ui-sm-12 ui-g-12">
                  <button pButton type="button"
                          label="{{'actions.cancel' | translate}}"
                          class="ui-button-danger"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.cancel' | translate}}"
                          (click)="cancel()"></button>
                  <button pButton type="submit"
                          *ngIf="form.get('key').value ? auth.hasPermission('ROLE_ATUALIZAR_BANCO') : auth.hasPermission('ROLE_SALVAR_BANCO')"
                          label="{{(form.get('key').value ? 'actions.update' : 'actions.save') | translate}}"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.save' | translate}}"
                          class="ui-button-success"></button>
               </div>

            </div>

         </form>

      </div>
   </div>
</div>
