<ngx-loading [show]="loading"></ngx-loading>

<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">
         <div>

            <h1 *ngIf="loading === true">{{('commons.loading') | translate}}</h1>
            <h1 *ngIf="loading === false">{{(form.get('key').value?.length > 0 ? 'tipo-pagamento.acoes.editar' : 'tipo-pagamento.acoes.adicionar') |
               translate}}</h1>
         </div>

         <form #f="ngForm" novalidate (submit)="save()" autocomplete="off" [formGroup]="form">

            <div class="ui-g">
               <input pInputText
                      type="text"
                      [hidden]="true"
                      name="key"
                      formControlName="key">

               <div class="ui-sm-12 ui-g-12 ui-fluid">
                  <label class="required">{{'tipo-pagamento.campos.descricao' | translate}}</label>
                  <input pInputText
                         type="text"
                         name="name"
                         formControlName="descricao">
                  <app-message [form]="f" [control]="form.get('descricao')"></app-message>
               </div>

               <div class="ui-sm-12 ui-g-12 ui-fluid">
                  <label>{{'tipo-pagamento.campos.inativo' | translate}}</label>
                  <p-inputSwitch formControlName="inativo"></p-inputSwitch>
               </div>

               <div class="ui-sm-12 ui-g-12">
                  <button pButton type="button"
                          label="{{'actions.cancel' | translate}}"
                          class="ui-button-danger"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.cancel' | translate}}"
                          (click)="cancel()"></button>
                  <button pButton type="submit"
                          [disabled]="form.get('naoPodeSerAlterado').value"
                          *ngIf="form.get('key').value ? auth.hasPermission('ROLE_ATUALIZAR_TIPO-PAGAMENTO') : auth.hasPermission('ROLE_SALVAR_TIPO-PAGAMENTO')"
                          label="{{(form.get('key').value ? 'actions.update' : 'actions.save') | translate}}"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.save' | translate}}"
                          class="ui-button-success"></button>
               </div>

            </div>

         </form>

      </div>
   </div>
</div>
