<ngx-loading [show]="mostrarTelaCarregando"></ngx-loading>

<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">

         <div>
            <h1>{{'itinerario.lista' | translate}}</h1>
            <a pButton class="btn-add-new ui-button-secondary"
               *ngIf="auth.hasPermission('ROLE_SALVAR_ITINERARIO')"
               label="{{'itinerario.acoes.adicionar' | translate}}"
               iconPos="left" icon="fa-plus"
               tooltipPosition="top" pTooltip="{{'actions.tooltip.new' | translate}}"
               routerLink="/itinerario/novo">
            </a>
         </div>

         <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">

            <!--GLOBAL FILTER-->
            <div class="ui-inputgroup" ngClass="{{mostarFiltros ? 'd-none': ''}}">
               <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
               <input #globalFilter pInputText type="text" size="50"
                      (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                      placeholder="{{'actions.global_filter' | translate}}">
               <button pButton
                       type="button" icon="fa-close"
                       class="ui-button-danger"
                       *ngIf="globalFilter.value.length > 0"
                       (click)="buscarTodos(globalFilter, dataTable)"></button>
               <button pButton
                       type="button" icon="fa-filter"
                       *ngIf="globalFilter.value.length === 0"
                       label="{{'commons.filter.more_filters' | translate}}"
                       class="ui-button-secondary"
                       (click)="mostrarCamposFiltros(true)"></button>
            </div>

            <!--FILTER BY FIELDS-->
            <div class="ui-g" ngClass="{{!mostarFiltros ? 'd-none': ''}}">
               <div class="ui-g-12 filter-title">
                  <h2>{{'commons.filter.fields' | translate}}</h2>
               </div>
               <div class="ui-g-4 ui-fluid">
                  <label>{{'itinerario.campos.codigo' | translate}}</label>
                  <input pInputText
                         type="text"
                         [(ngModel)]="itinerarioFiltro.codigo"
                         maxlength="15"
                  >
               </div>
               <div class="ui-g-4 ui-fluid">
                  <label>{{'itinerario.campos.nome' | translate}}</label>
                  <input pInputText
                         type="text"
                         [(ngModel)]="itinerarioFiltro.nome"
                         maxlength="150"
                  >
               </div>
               <div class="ui-g-4 ui-fluid">
                  <label>{{'itinerario.campos.descricao' | translate}}</label>
                  <input pInputText
                         type="text"
                         [(ngModel)]="itinerarioFiltro.descricao"
                         maxlength="150"
                  >

                  <!--{{row.inspectionDate | date:'MM/dd/yyyy'}}-->

               </div>
               <div class="ui-g-12" style="text-align: right">
                  <button pButton
                          type="button" icon="fa-minus"
                          label="{{'commons.filter.less_filters' | translate}}"
                          class="ui-button-secondary"
                          (click)="buscarTodos(globalFilter, dataTable)"></button>
                  <button pButton
                          type=" button" icon="fa-filter"
                          (click)="filterFields(dataTable)"
                          label="{{'commons.filter.filter' | translate}}"></button>
               </div>
            </div>
         </div>
         <p-table #dataTable
                  [value]="itinerarioList"
                  [(selection)]="itinerarioSelecionado"
                  selectionMode="single"
                  dataKey="key"

                  [lazy]="true"
                  [(totalRecords)]="totalRegistros"
                  (onLazyLoad)="loadBank($event)"

                  [filterDelay]="variaveisAmbiente.dataTable.filterDelay"
                  [paginator]="true"
                  [rows]="variaveisAmbiente.dataTable.rows"
                  [rowsPerPageOptions]="variaveisAmbiente.dataTable.rowsPerPageOptions"
                  [responsive]="true"

                  [columns]="COLUNAS"
         >
            <ng-template pTemplate="emptymessage">
               <tr>
                  <td colspan="3"> {{ 'actions.no_records_found' | translate}}</td>
               </tr>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
               <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="col.hidden"
                      [class]="col.class">
                     {{col.header}}
                     <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>

                  <th> {{'itinerario.campos.nome' | translate}}</th>

                  <th class="datatable-collum-field-name">
                     {{'itinerario.campos.validoAte' | translate}}
                  </th>
               </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-obj>
               <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns" [hidden]="col.hidden" [class]="col.class">
                     {{rowData[col.field]}}
                  </td>

                  <td>
                     <i *ngIf="rowData['ativo']" class="fa fa-toggle-on" style="color: darkgreen"></i>
                     <i *ngIf="!rowData['ativo']" class="fa fa-toggle-off" style="color: gray"></i>
                     {{ rowData['nome']}}
                  </td>
                  <td class="datatable-collum-field-name" style="text-align: center">
                     {{ formatarData(rowData['validoAte'])}}
                  </td>
               </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
               <a pButton icon="fa-refresh"
                  (click)="buscarTodos(globalFilter, dataTable)"
                  tooltipPosition="top" pTooltip="{{'actions.refresh' | translate}}"></a>
            </ng-template>

            <ng-template pTemplate="paginatorright" let-obj="rowData">
               <button type="button"
                       *ngIf="auth.hasPermission('ROLE_ATUALIZAR_ITINERARIO')"
                       pButton
                       icon="fa-pencil"
                       label="{{'actions.edit' | translate}}"
                       [disabled]="itinerarioSelecionado ? false :true"
                       tooltipPosition="top" pTooltip="{{'actions.tooltip.edit' | translate}}"
                       (click)="edit()"></button>
               <button type="button"
                       *ngIf="auth.hasPermission('ROLE_DELETAR_ITINERARIO')"
                       pButton
                       icon="fa-trash"
                       class="ui-button-danger"
                       label="{{'actions.delete' | translate}}"
                       [disabled]="itinerarioSelecionado ? false :true"
                       tooltipPosition="top" pTooltip="{{'actions.tooltip.delete' | translate}}"
                       (click)="confirmarExclusao(obj)"></button>
            </ng-template>
         </p-table>

      </div>
   </div>
</div>
