<ngx-loading [show]="loading"></ngx-loading>

<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">
         <div>

            <h1 *ngIf="loading === true">{{('commons.loading') | translate}}</h1>
            <h1 *ngIf="loading === false">{{(form.get('key').value?.length > 0 ? 'level-of-education.actions.edit' :
               'level-of-education.actions.add') |
               translate}}</h1>
         </div>

         <form #f="ngForm" novalidate (submit)="save()" autocomplete="off" [formGroup]="form">

            <div class="ui-g">
               <input pInputText
                      type="text"
                      [hidden]="true"
                      name="key"
                      formControlName="key">

               <div class="ui-sm-12 ui-g-12 ui-fluid">
                  <label>{{'level-of-education.fields.name' | translate}}</label><span class="requiredLabel">{{'validation.requiredLabel' | translate}}</span>
                  <input pInputText
                         type="text"
                         name="name"
                         formControlName="name"
                  >
                  <app-message [form]="f" [control]="form.get('name')"></app-message>
               </div>

               <div class="ui-sm-12 ui-g-12 ui-fluid">
                  <label>{{'level-of-education.fields.description' | translate}}</label><span class="requiredLabel">{{'validation.requiredLabel' | translate}}</span>
                  <textarea [rows]="5"
                            [cols]="30"
                            pInputTextarea
                            name="description"
                            formControlName="description"
                            autoResize></textarea>
                  <app-message [form]="f" [control]="form.get('description')"></app-message>
               </div>

               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'level-of-education.fields.degreeOfInstructionCaged' | translate}}</label><span class="requiredLabel">{{'validation.requiredLabel' | translate}}</span>
                  <input pInputText
                         type="number"
                         name="degreeOfInstructionCaged"
                         formControlName="degreeOfInstructionCaged"
                  >
                  <app-message [form]="f" [control]="form.get('degreeOfInstructionCaged')"></app-message>
               </div>

               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'level-of-education.fields.degreeOfInstructionSefip' | translate}}</label><span class="requiredLabel">{{'validation.requiredLabel' | translate}}</span>
                  <input pInputText
                         type="number"
                         name="degreeOfInstructionSefip"
                         formControlName="degreeOfInstructionSefip"
                  >
                  <app-message [form]="f" [control]="form.get('degreeOfInstructionSefip')"></app-message>
               </div>

               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'level-of-education.fields.degreeOfInstructionRais' | translate}}</label><span class="requiredLabel">{{'validation.requiredLabel' | translate}}</span>
                  <input pInputText
                         type="number"
                         name="degreeOfInstructionRais"
                         formControlName="degreeOfInstructionRais"
                  >
                  <app-message [form]="f" [control]="form.get('degreeOfInstructionRais')"></app-message>
               </div>

               <div class="ui-sm-12 ui-g-12">
                  <button pButton type="button"
                          label="{{'actions.cancel' | translate}}"
                          class="ui-button-danger"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.cancel' | translate}}"
                          (click)="cancel()"></button>
                  <button pButton type="submit"
                          *ngIf="form.get('key').value ? auth.hasPermission('ROLE_UPDATE_LEVEL-OF-EDUCATION') : auth.hasPermission('ROLE_SAVE_LEVEL-OF-EDUCATION')"
                          label="{{(form.get('key').value ? 'actions.update' : 'actions.save') | translate}}"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.save' | translate}}"
                          class="ui-button-success"></button>
               </div>

            </div>

         </form>

      </div>
   </div>
</div>
