<ngx-loading [show]="mostrarTelaCarregando"></ngx-loading>

<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">

         <div>
            <h1>{{'controleKm.lista' | translate}}</h1>
            <a pButton class="btn-add-new ui-button-secondary"
               *ngIf="auth.hasPermission('ROLE_SALVAR_CONTROLE-KM')"
               label="{{'controleKm.acoes.adicionar' | translate}}"
               iconPos="left" icon="fa-plus"
               tooltipPosition="top" pTooltip="{{'actions.tooltip.new' | translate}}"
               routerLink="/controleKm/novo">
            </a>
         </div>

         <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">

            <!--GLOBAL FILTER-->
            <div class="ui-inputgroup" ngClass="{{mostarFiltros ? 'd-none': ''}}">
               <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
               <input #globalFilter pInputText type="text" size="50"
                      (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                      placeholder="{{'controleKm.rotulos.filtro_itinerario' | translate}}">
               <button pButton
                       type="button" icon="fa-close"
                       class="ui-button-danger"
                       *ngIf="globalFilter.value.length > 0"
                       (click)="buscarTodos(globalFilter, dataTable)"></button>
               <button pButton
                       type="button" icon="fa-filter"
                       *ngIf="globalFilter.value.length === 0"
                       label="{{'commons.filter.more_filters' | translate}}"
                       class="ui-button-secondary"
                       (click)="mostrarCamposFiltros(true)"></button>
            </div>

            <!--FILTER BY FIELDS-->
            <div class="ui-g" ngClass="{{!mostarFiltros ? 'd-none': ''}}">
               <div class="ui-g-12 filter-title">
                  <h2>{{'commons.filter.fields' | translate}}</h2>
               </div>

               <!-- VEICULO -->
               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'veiculo.titulo'| translate}}</label>
                  <p-dropdown emptyFilterMessage="{{'actions.no_records_found' | translate }}"
                              [options]="veiculoList"
                              [(ngModel)]="controleKmFiltro.veiculoId"
                              [showClear]="true"
                              [filter]="true" [autoWidth]="false"
                              placeholder="{{'actions.select2' | translate}}">
                  </p-dropdown>
               </div>

               <!-- ITINERARIO -->
               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'itinerario.titulo'| translate}}</label>
                  <p-dropdown emptyFilterMessage="{{'actions.no_records_found' | translate }}"
                              [options]="itinerarioList"
                              [(ngModel)]="controleKmFiltro.itinerarioId"
                              [showClear]="true"
                              [filter]="true" [autoWidth]="false"
                              placeholder="{{'actions.select2' | translate}}">
                  </p-dropdown>
               </div>

               <!-- MOTORISTA -->
               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'controleKm.campos.motorista'| translate}}</label>
                  <p-dropdown emptyFilterMessage="{{'actions.no_records_found' | translate }}"
                              [options]="pessoaList"
                              [(ngModel)]="controleKmFiltro.pessoaId"
                              [showClear]="true"
                              [filter]="true" [autoWidth]="false"
                              placeholder="{{'actions.select2' | translate}}">
                  </p-dropdown>
               </div>

               <!--Periodo-->
               <div class="ui-g-3 ui-fluid">
                  <label>{{'controleKm.rotulos.dataSaidaMaiorQue' | translate}}</label>
                  <div class="wc-remove-padding-margin">
                     <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                        <p-inputMask [(ngModel)]="controleKmFiltro.dataSaida"
                                     mask="99/99/9999"
                                     pattern="([0-2][0-9]|3[0-1])\/(0[0-9]|1[0-2])\/[0-9]{4}">
                        </p-inputMask>
                     </div>
                     <div class="ui-g-2 ui-fluid wc-remove-padding-margin wc-centrer-text">
                        <span>{{'controleKm.rotulos.ate' | translate}}</span>
                     </div>
                     <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                        <p-inputMask [(ngModel)]="controleKmFiltro.dataChegada"
                                     mask="99/99/9999"
                                     pattern="([0-2][0-9]|3[0-1])\/(0[0-9]|1[0-2])\/[0-9]{4}">
                        </p-inputMask>
                     </div>
                  </div>
               </div>

               <!--Quilometragem-->
               <div class="ui-g-3 ui-fluid">
                  <label>{{'controleKm.rotulos.quilometragem' | translate}}</label>

                  <div class="wc-remove-padding-margin">
                     <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                        <input pInputText
                               type="text"
                               [(ngModel)]="controleKmFiltro.kmSaida"
                               pKeyFilter="pnum">
                     </div>
                     <div class="ui-g-2 ui-fluid wc-remove-padding-margin wc-centrer-text">
                        <span>{{'controleKm.rotulos.ate' | translate}}</span>
                     </div>
                     <div class="ui-g-5 ui-fluid wc-remove-padding-margin">
                        <input pInputText
                               type="text"
                               [(ngModel)]="controleKmFiltro.kmChegada"
                               pKeyFilter="pnum">
                     </div>
                  </div>
               </div>

               <div class="ui-g-12" style="text-align: right">
                  <button pButton
                          type="button"
                          label="{{'commons.filter.clean' | translate}}"
                          class="ui-button-secondary"
                          (click)="mostrarCamposFiltros(true); filterFields(dataTable);"></button>
                  <button pButton
                          type="button" icon="fa-minus"
                          label="{{'commons.filter.less_filters' | translate}}"
                          class="ui-button-secondary"
                          (click)="buscarTodos(globalFilter, dataTable)"></button>
                  <button pButton
                          type=" button" icon="fa-filter"
                          (click)="filterFields(dataTable)"
                          label="{{'commons.filter.filter' | translate}}"></button>
               </div>
            </div>
         </div>
         <p-table #dataTable
                  [value]="controleKmList"
                  [(selection)]="controleKmSelecionado"
                  selectionMode="single"
                  dataKey="key"

                  [lazy]="true"
                  [(totalRecords)]="totalRegistros"
                  (onLazyLoad)="loadBank($event)"

                  [filterDelay]="variaveisAmbiente.dataTable.filterDelay"
                  [paginator]="true"
                  [rows]="variaveisAmbiente.dataTable.rows"
                  [rowsPerPageOptions]="variaveisAmbiente.dataTable.rowsPerPageOptions"
                  [responsive]="true"

                  [columns]="COLUNAS"
         >
            <ng-template pTemplate="emptymessage">
               <tr>
                  <td colspan="3"> {{ 'actions.no_records_found' | translate}}</td>
               </tr>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
               <tr>
                  <th style="width: 40px"></th>
                  <th class="datatable-coluna_veiculo">
                     {{'controleKm.campos.veiculo'| translate}}
                  </th>
                  <th>
                     {{'controleKm.campos.itinerario'| translate}}
                  </th>

                  <th *ngFor="let col of columns" [hidden]="col.hidden" [class]="col.class">
                     {{col.header}}
                  </th>
               </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-obj let-expanded="expanded">
               <tr [pSelectableRow]="rowData">
                  <td>
                     <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'fa fa-chevron-circle-down' : 'fa fa-chevron-circle-right'"
                           style="font-size: 1.25em; color: #2d353c"></i>
                     </a>
                  </td>
                  <td class="datatable-coluna_veiculo">
                     {{rowData['veiculo']['frota']}} - {{rowData['veiculo']['placa']}}
                  </td>
                  <td>
                     {{rowData['itinerario']['nome']}}
                  </td>

                  <td *ngFor="let col of columns" [hidden]="col.hidden" [class]="col.class">
                     {{rowData[col.field]}}
                  </td>
               </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
               <tr>
                  <td  [attr.colspan]="columns.length + 1">
                     <div class="ui-g ui-fluid">
                        <div class="ui-g-3">
                           <label>{{'controleKm.campos.origem' | translate}}</label>
                           <span>{{rowData['origem']}}</span>
                        </div>
                        <div class="ui-g-3">
                           <label>{{'controleKm.campos.destino' | translate}}</label>
                           <span>{{rowData['destino']}}</span>
                        </div>
                        <div class="ui-g-6">
                           <label>{{'controleKm.campos.motorista'| translate}}</label>
                           <span>{{rowData['pessoa']['nome']}}</span>
                        </div>
                        <div class="ui-g-12" *ngIf="(rowData['obs'] && rowData['obs'].length > 0) ? true : false">
                           <label>{{'controleKm.campos.obs'| translate}}</label>
                           <span>{{rowData['obs']}}</span>
                        </div>
                     </div>
                  </td>
               </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
               <a pButton icon="fa-refresh"
                  (click)="buscarTodos(globalFilter, dataTable)"
                  tooltipPosition="top" pTooltip="{{'actions.refresh' | translate}}"></a>
            </ng-template>

            <ng-template pTemplate="paginatorright" let-obj="rowData">
               <button type="button"
                       *ngIf="auth.hasPermission('ROLE_ATUALIZAR_CONTROLE-KM')"
                       pButton
                       icon="fa-pencil"
                       label="{{'actions.edit' | translate}}"
                       [disabled]="controleKmSelecionado ? false :true"
                       tooltipPosition="top" pTooltip="{{'actions.tooltip.edit' | translate}}"
                       (click)="edit()"></button>
               <button type="button"
                       *ngIf="auth.hasPermission('ROLE_DELETAR_CONTROLE-KM')"
                       pButton
                       icon="fa-trash"
                       class="ui-button-danger"
                       label="{{'actions.delete' | translate}}"
                       [disabled]="controleKmSelecionado ? false :true"
                       tooltipPosition="top" pTooltip="{{'actions.tooltip.delete' | translate}}"
                       (click)="confirmarExclusao(obj)"></button>
            </ng-template>
         </p-table>

      </div>
   </div>
</div>
