<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">

         <div>
            <h1>{{'bank.list_of_banks' | translate}}</h1>
            <a pButton class="btn-add-new ui-button-secondary"
               label="{{'bank.add_bank' | translate}}"
               iconPos="left" icon="fa-plus"
               tooltipPosition="top" pTooltip="{{'actions.tooltip.new' | translate}}"
               routerLink="/banks/new">
            </a>
         </div>

         <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <div class="ui-inputgroup" ngClass="{{showFilter ? 'd-none': ''}}">
               <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
               <input #globalFilter pInputText type="text" size="50"
                      placeholder="{{'actions.global_filter' | translate}}">
               <button pButton
                       type="button" icon="fa-close"
                       class="ui-button-danger"
                       *ngIf="globalFilter.value.length > 0"
                       (click)="findAll(globalFilter, dataTable)"></button>
               <button pButton
                       type="button" icon="fa-filter"
                       *ngIf="globalFilter.value.length === 0"
                       label="{{'commons.filter.more_filters' | translate}}"
                       class="ui-button-secondary"
                       (click)="showFilterFields(true)"></button>
            </div>


            <div class="ui-g" ngClass="{{!showFilter ? 'd-none': ''}}">
               <div class="ui-g-12">
                  <h2>{{'commons.filter.fields' | translate}}</h2>
               </div>
               <div class="ui-g-4 ui-fluid">
                  <label>{{'bank.fields.code' | translate}}</label>
                  <input pInputText
                         type="text"
                         name="bankCode"
                         [(ngModel)]="bankFilters.code"
                         maxlength="30"
                  >
               </div>
               <div class="ui-g-4 ui-fluid">
                  <label>{{'bank.fields.name' | translate}}</label>
                  <input pInputText
                         type="text"
                         name="bankName"
                         [(ngModel)]="bankFilters.name"
                         maxlength="30"
                  >
               </div>
               <div class="ui-g-4 ui-fluid">
                  <label>{{'bank.fields.url' | translate}}</label>
                  <input pInputText
                         type="text"
                         name="bankUrl"
                         [(ngModel)]="bankFilters.url"
                         maxlength="30"
                  >
               </div>
               <div class="ui-g-12" style="text-align: right">
                  <button pButton
                          type="button" icon="fa-minus"
                          label="{{'commons.filter.less_filters' | translate}}"
                          class="ui-button-secondary"
                          (click)="findAll(globalFilter, dataTable)"></button>
                  <button pButton
                          type=" button" icon="fa-filter"
                          (click)="filterFields(dataTable)"
                          label="{{'commons.filter.filter' | translate}}"></button>
               </div>
            </div>
         </div>
         <p-dataTable #dataTable
                      [value]="banks"
                      [(selection)]="selectedBank"
                      selectionMode="single"
                      [lazy]="true"
                      [(totalRecords)]="totalRecords"
                      [globalFilter]="globalFilter"
                      (onLazyLoad)="loadBank($event)"
                      [loading]="loading"
                      [filterDelay]="env.dataTable.filterDelay"
                      emptyMessage="{{ 'actions.no_records_found' | translate}}"
                      [paginator]="true"
                      [rows]="env.dataTable.rows"
                      [rowsPerPageOptions]="env.dataTable.rowsPerPageOptions"
                      [responsive]="true"
                      dataKey="key">

            <!--<p-header>{{'bank.list_of_banks' | translate}}</p-header>-->
            <p-column field="id" [hidden]="true"></p-column>
            <p-column field="code" header="{{'bank.fields.code' | translate}}" [sortable]="true"
                      [style]="{'width': '15%'}"></p-column>
            <p-column field="name" header="{{'bank.fields.name' | translate}}" [sortable]="true"></p-column>
            <p-column field="url" header="{{'bank.fields.url' | translate}}" [sortable]="true"></p-column>

            <ng-template pTemplate="paginatorLeft">
               <a pButton icon="fa-refresh"
                  (click)="findAll(globalFilter, dataTable)"
                  tooltipPosition="top" pTooltip="{{'actions.refresh' | translate}}"></a>
            </ng-template>

            <ng-template pTemplate="paginatorRight" let-obj="rowData">
               <button type="button"
                       pButton
                       icon="fa-pencil"
                       label="{{'actions.edit' | translate}}"
                       [disabled]="selectedBank ? false :true"
                       tooltipPosition="top" pTooltip="{{'actions.tooltip.edit' | translate}}"
                       (click)="edit()"></button>
               <button type="button"
                       pButton
                       icon="fa-trash"
                       class="ui-button-danger"
                       label="{{'actions.delete' | translate}}"
                       [disabled]="selectedBank ? false :true"
                       tooltipPosition="top" pTooltip="{{'actions.tooltip.delete' | translate}}"
                       (click)="ConfirmDeletion(obj)"></button>
            </ng-template>
         </p-dataTable>

      </div>
   </div>
</div>
