<ngx-loading [show]="loading"></ngx-loading>
<p-progressBar *ngIf="loading" mode="indeterminate" styleClass="wc-progress-bar-indeterminate"></p-progressBar>

<div class="ui-g">
   <div class="ui-g-12">
      <div class="card card-w-title">
         <div>

            <h1 *ngIf="loading === true">{{('commons.loading') | translate}}</h1>
            <h1 *ngIf="loading === false">{{'app.permissoes-de-acesso.titulo'| translate}}</h1>
         </div>

         <p-tabView orientation="left">
            <p-tabPanel header="Header 1">
               Content 1
            </p-tabPanel>
            <p-tabPanel header="{{'app.permissoes-de-acesso.rotulos.seguranca' | translate}}">
               <div class="ui-g">
                  <div class="ui-g-12">
                     <div class="ui-g-6"><b>Col1</b></div>
                     <div class="ui-g-2"><b>Col2</b></div>
                     <div class="ui-g-2"><b>Col3</b></div>
                     <div class="ui-g-2"><b>Col4</b></div>
                  </div>

                  <div class="ui-g-12" style="padding: 0px">
                     <div class="ui-g-6">Descricao teste</div>
                     <div class="ui-g-2">
                        <p-inputSwitch></p-inputSwitch>
                     </div>
                     <div class="ui-g-2">
                        <p-inputSwitch></p-inputSwitch>
                     </div>
                     <div class="ui-g-2">
                        <p-inputSwitch></p-inputSwitch>
                     </div>
                  </div>

                  <div class="ui-g-12">
                     <div class="ui-g-6">Descricao teste</div>
                     <div class="ui-g-2">
                        <p-inputSwitch></p-inputSwitch>
                     </div>
                     <div class="ui-g-2">
                        <p-inputSwitch></p-inputSwitch>
                     </div>
                     <div class="ui-g-2">
                        <p-inputSwitch></p-inputSwitch>
                     </div>
                  </div>
               </div>

            </p-tabPanel>
            <p-tabPanel header="Header 3">
               Content 3
            </p-tabPanel>
         </p-tabView>


      </div>
   </div>
</div>
