<ngx-loading [show]="loading"></ngx-loading>

<div class="ui-g">
   <div class="ui-g-12">
      <p-progressBar *ngIf="loading === true" mode="indeterminate"></p-progressBar>

      <div class="card card-w-title">
         <div>

            <h1 *ngIf="loading === true">{{('commons.loading') | translate}}</h1>
            <h1 *ngIf="loading === false">{{(form.get('key').value?.length > 0 ? 'veiculo.acoes.editar' :
               'veiculo.acoes.adicionar') |
               translate}}</h1>
         </div>

         <form #f="ngForm" novalidate (submit)="save()" autocomplete="off" [formGroup]="form">

            <div class="ui-g">
               <input pInputText
                      type="text"
                      [hidden]="true"
                      name="key"
                      formControlName="key">

               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'veiculo.campos.placa' | translate}}</label><span class="requiredLabel">{{'validation.requiredLabel' | translate}}</span>
                  <input pInputText
                         type="text"
                         name="placa"
                         style="text-transform:uppercase"
                         class="veiculo_placa"
                         formControlName="placa"
                  >

                  <app-message [form]="f" [control]="form.get('placa')"></app-message>
               </div>

               <div class="ui-sm-4 ui-g-4 ui-fluid">
                  <label>{{'veiculo.campos.frota' | translate}}</label>
                  <input pInputText
                         type="text"
                         name="frota"
                         style="text-transform:uppercase"
                         formControlName="frota"
                  >
                  <app-message [form]="f" [control]="form.get('frota')"></app-message>
               </div>

               <div class="ui-sm-12 ui-g-12">
                  <button pButton type="button"
                          label="{{'actions.cancel' | translate}}"
                          class="ui-button-danger"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.cancel' | translate}}"
                          (click)="cancel()"></button>
                  <button pButton type="submit"
                          *ngIf="form.get('key').value ? auth.hasPermission('ROLE_ATUALIZAR_VEICULO') : auth.hasPermission('ROLE_SALVAR_VEICULO')"
                          label="{{(form.get('key').value ? 'actions.update' : 'actions.save') | translate}}"
                          tooltipPosition="top" pTooltip="{{'actions.tooltip.save' | translate}}"
                          class="ui-button-success"></button>
               </div>
            </div>
         </form>

      </div>
   </div>
</div>
