/* You can add global styles to this file, and also import other style files */

body .ui-state-disabled *, body .ui-widget:disabled * {
   cursor: not-allowed !important;
}

.btn-add-new {
   float: right;
   margin-top: -50px;
}

.requiredLabel {
   color: #da3d3d;
   font-size: smaller;
   font-weight: bold;
   margin-left: 5px;
}

label {
   font-weight: bold;
}

body .ui-button.ui-button-icon-only .fa {
   margin-left: -0.5em;
}
