/* You can add global styles to this file, and also import other style files */

body .ui-state-disabled *, body .ui-widget:disabled * {
   cursor: not-allowed !important;
}

.btn-add-new {
   float: right;
   margin-top: -50px;
}

.requiredLabel {
   color: #da3d3d;
   font-size: smaller;
   font-weight: bold;
   margin-left: 5px;
}

label {
   font-weight: bold;
}

body .ui-button.ui-button-icon-only .fa {
   margin-left: -0.5em;
}

.exception-body {
   background-color: #f7f7f7;
   padding-top: 50px;
}

.exception-body .exception-panel {
   border-bottom: 0px;
}

.d-none {
   display: none !important;
}

.layout-wrapper .topbar .logo {
   background-color: #dee0e3;
}

textarea {
   resize: none;
}

.splash-screen {
   background: #f1f3f6 !important;
}

.splash-screen .splash-loader {
   background-color: #f1f3f6;
   border: 10px solid #f1f3f6;
}

.splash-screen .splash-loader img {
   width: 100px;
   margin-top: 35px;
}

.layout-wrapper .topbar .logo img {
   margin-top: 10px;
}

.filter-title h2 {
   text-align: center;
   text-transform: uppercase;
   font-size: 17px;
   color: #5f5f5f;
   font-weight: 400;
}

.txt-upercase {
   text-transform: uppercase;
}

.ui-dropdown-item-empty, .ui-dropdown-label-empty {
   text-indent: 0px;
}

.wc-app-name {
   color: white;
   margin-left: 10px;
   font-size: 20px;
   font-weight: bold;
}

.wc-app-cnpj {
   color: white;
   margin-left: 10px;
   font-size: 10px;
   font-weight: bold;
   top: 35px;
   position: absolute;
   left: 65px;
}

.wc-remove-padding-margin {
   margin: 0px;
   padding: 0px;
}
.wc-centrer-text{
   text-align: center !important;
}
.wc-align-right{
   text-align: right;
}
.wc-align-left{
   text-align: left;
}

//.ui-tabview .ui-tabview-panel{
//   border-bottom: none !important;
//}

//.footer-fixed{
//   position: fixed;
//   bottom: 0;
//   width: calc(100% - 73px);
//}
